body {
    background-color: #f7f9fc;
    font-family: 'Roboto', sans-serif;
}

.card {
	box-shadow: 0 0 .875rem 0 rgba(41,48,66,.05);
}

.navbar {
	border-bottom: 0;
	box-shadow: 0 0 1rem 0 rgba(41,48,66,.1);
}

.bg-light {
    background-color: #fff !important;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #185037;
}

a {
    color: #185037;
}