{{template "header.tmpl.html"}}
<div class="container mt-5 mb-5">
    <div class="row mb-3">
        <div class="col-sm-6 mb-1">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <canvas id="incidentAreaChart"></canvas>
                </div>
            </div>
        </div>
        </div>

        <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <canvas id="incidentTypeChart"></canvas>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Active Incidents Table -->
    <div class="card">
        <div class="card-body table-responsive">
        <table class="table caption-top">
            <caption>{{ len .actives }} active incidents</caption>
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Date Time</th>
                <th scope="col">Description</th>
                <th scope="col">Address</th>
                <th scope="col">Sub Description</th>
                </tr>
            </thead>
            <tbody>
                {{ range .actives }}
                    <tr>
                        <td><a href="/incident/{{.ID}}" title="Click the link to get more info">{{.ID}}</a></td>
                        <td>{{.DateTimeString}}</td>
                        <td title="{{.TypeCode}}">{{.TypeDesc}}</td>
                        <td>{{.Address}}</td>
                        <td>{{.TypeSubDesc}}</td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
<script>
    const actives = {{.actives}}

    setInterval(() => {
        // Refresh actives every 3mins
        window.location.reload()
    }, 3000 * 60)

    // Create a bar chart showing incident distribution by Division
    function displayDivisionData() {
        const dataLabels = []
        for(let i = 0; i < actives.length; ++i) {
            if(!dataLabels.includes(actives[i].division)) dataLabels.push(actives[i].division)
        }

        const dataValues = []
        for(let i = 0; i < dataLabels.length; ++i) {
            dataValues.push(actives.filter(incident => incident.division == dataLabels[i]).length)
        }

        makeBarChart("incidentAreaChart", "Incident count by division", dataLabels, dataValues)
    }
    displayDivisionData()

    // Create a bar chart showing incident distribution by TypeCode
    function displayTypeData() {
        const dataLabels = []
        for(let i = 0; i < actives.length; ++i) {
            if(!dataLabels.includes(actives[i].typeCode)) dataLabels.push(actives[i].typeCode)
        }

        const dataValues = []
        for(let i = 0; i < dataLabels.length; ++i) {
            dataValues.push(actives.filter(incident => incident.typeCode == dataLabels[i]).length)
        }

        makeBarChart("incidentTypeChart", "Incident count by type", dataLabels, dataValues)
    }
    displayTypeData()

    function makeBarChart(chartId, chartLabel, dataLabels, dataValues) {
        new Chart(document.getElementById(chartId), {
            type: 'bar',
            data: {
                labels: dataLabels,
                datasets: [{
                    label: chartLabel,
                    backgroundColor: "#185037",
                    data: dataValues
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: "Incident count by Division"
                },
                scales: {
                    y: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            stepSize: 1,
                        }
                    }
                }
            }
        })
    }

    
</script>
{{template "footer.tmpl.html"}}